@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://cosmosdex.com/" target="_blank" class="ml-md-auto">The Cosmosdex(Unaffiliated)</a>
        </div>

        <div class="content px-4">
            @Body
            <hr/>
            <p>Note: This site is not affiliated with <a href="https://cosmosdex.com/">The Cosmosdex</a> in any way. This site was made specifically for the benefit of fans, and if you want to support [Fortuna] and The Cosmosdex, please consider donating to <a href="https://www.patreon.com/Gimeurcookie">their Patreon</a>. All Fortuna-related assets, unless otherwise noted, are by Gimeurcookie.</p>
        </div>
    </div>
</div>