@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Gill Sans MT', 'Times New Roman', serif;
    color: #212121;
}

h1, h2, h3 {
    font-family: "Poiret One", 'Times New Roman', Arial, sans-serif;
    font-weight: 800;
}

a:hover, .btn-link:hover {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 0.7rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


.column-container {
    display: flex;
}

.column-left, .column-right, .column-center {
    flex: max-content;
    flex-shrink: unset;
    padding: 0 20px 0 20px;
    min-width: 33.3%;
}

.column-left {
    text-align: left;
}

.column-center {
    text-align: center;
}

.column-right {
    text-align: right;
}

h2, h3 {
    margin-bottom: 0;
}

.character-display {
    background-color: #171717;
    color: #e6e6e6;
    border-top: 8px double #e6e6e6;
    border-bottom: 8px double #e6e6e6;
    padding-top: 10px;
    min-height: 400px;
    font-size: 22px;
}

.character-display p {
    margin-bottom: 2px;
}

.character-display button {
    border: none;
    background: none;
    color: inherit;
}

.character-display button:hover {
    color: blue;
}

.character-display input {
    color: #e6e6e6;
    background-color: #171717;
    border: 1px solid #171717;
    font-size: inherit;
    cursor: pointer;
    text-align: inherit;
}

.character-display input:hover {
    border: 1px solid grey;
}

.character-display textarea {
    font-size: 18px;
}

.character-display tr, td {
    align-content: center;
    border-bottom: 1px solid grey;
}

