@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Gill Sans', 'Times New Roman', serif;
    color: #212121;
}

h1, h2, h3 {
    font-family: "Poiret One", 'Times New Roman', Arial, sans-serif;
    font-weight: 800;
}

a:hover, .btn-link:hover {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 0.7rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


.column-container {
    display: flex;
}

.column-left, .column-right, .column-center {
    flex: max-content;
    flex-shrink: unset;
    flex-direction: row;
    padding: 0 20px 0 20px;
    min-width: 33.3%;
}

.column-left {
    text-align: left;
}

.column-center {
    text-align: center;
}

.column-right {
    text-align: right;
}

h2, h3 {
    margin-bottom: 0;
}

.character-display {
    background-color: #171717;
    color: #e6e6e6;
    border-top: 8px double #e6e6e6;
    border-bottom: 8px double #e6e6e6;
    padding: 10px 0 10px 0;
    min-height: 400px;
    font-size: 22px;
}

.character-display p {
    margin-bottom: 2px;
}

.character-display button {
    border: none;
    background: none;
    color: inherit;
}

.character-display button:hover {
    color: blue;
}

.character-display input {
    color: #e6e6e6;
    background-color: #171717;
    border: 1px solid #171717;
    font-size: inherit;
    cursor: text;
    text-align: inherit;
}

.character-display input:hover {
    border: 1px solid grey;
}

.character-display textarea {
    font-size: 18px;
}

.character-display tr, td {
    align-content: center;
    border-bottom: 1px solid grey;
}

@media (max-width: 641px) {
    .column-container {
        flex-direction: column;
        padding-bottom: 10px;
    }

    .column-left, .column-right, .column-center {
        flex: max-content;
        flex-shrink: unset;
        padding: unset;
        min-width: unset;
        text-align: center;
        border-bottom: 1px grey solid;
    }
}

@media (pointer:coarse) {
    .character-display input {
        border: 1px solid grey;
    }
}

/* cyrillic */
@font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/l/font?kit=VEMzRo11tZHs8hG7tPa9zxTg&skey=b796ffb12c919a00&v=v9) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/l/font?kit=VEMzRo11tZHs8hG7tPa9yBTg&skey=b796ffb12c919a00&v=v9) format('woff2');
    unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/l/font?kit=VEMzRo11tZHs8hG7tPa9xRTg&skey=b796ffb12c919a00&v=v9) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/l/font?kit=VEMzRo11tZHs8hG7tPa9yxTg&skey=b796ffb12c919a00&v=v9) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poiretone/v9/UqyVK80NJXN4zfRgbdfbo5pcV_cx.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poiretone/v9/UqyVK80NJXN4zfRgbdfbo5BcV_cx.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poiretone/v9/UqyVK80NJXN4zfRgbdfbo55cVw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
