
.trait-bad, .trait-good, .trait-neutral, .trait-special, .trait-ability {
    cursor: pointer;
}

.trait-bad:hover, .trait-good:hover, .trait-neutral:hover, .trait-special:hover, .trait-ability:hover {
    color: white;
}

.trait-bad {
    color: red;
}

.trait-good {
    color: green;
}

.trait-neutral {
    color: blue;
}

.trait-special {
    color: purple;
}

.trait-ability {
    color: yellow;
}

.char-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33.3%;
}

button {
    font-family: "Poiret One", 'Times New Roman', Arial, sans-serif;
    font-weight: 800;
    border: none;
    background: none;
}

button:hover {
    color: blue;
}

.move-flex-box {
    display: flex;
}

.move-flex-box input, .move-flex-box p {
    width: 30%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.move-flex-box textarea {
    width: 30%;
}

@media (max-width: 641px) {
    .char-picture {
        width: 75%;
    }
}
